:root {
  --background-color1: #f5f5f5;
  --background-color2: #f5f4fa;
  --background-color3: #2f303a;
  --foreground-color1: #212121;
  --foreground-color2: #757575;
  --foreground-color3: #ffffff;
  --hoverfocus-color: #2196f3;
}

.site-nav .current {
  color: var(--hoverfocus-color);
}

p {
  color: var(--foreground-color2);
}

h2,
h3 {
  color: var(--foreground-color1);
}

header .logo {
  color: #000000;
}

.logo-web {
  color: var(--hoverfocus-color);
}

body {
  background-color: var(--foreground-color3);
}

ul {
  list-style: none;
}

header .link:hover,
header .link:focus,
footer .link:hover,
footer .link:focus {
  color: var(--hoverfocus-color);
}

footer {
  background-color: var(--background-color3);
}

footer .logo {
  color: var(--foreground-color3);
}

footer .link-map {
  color: var(--foreground-color3);
}

footer .link-contact {
  color: rgb(255, 255, 255, 0.6);
}
