

.buttons-sort {
  background-color: var(--background-color2);
  color: var(--foreground-color1);
  font-family: inherit;
}

.buttons-sort:hover,
.buttons-sort:focus {
  background-color: var(--hoverfocus-color);
  color: var(--foreground-color3);
}
